<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMP353</title>
</head>
<body>
    <header>
        <h1>COMP353 CRED</h1>
    </header>

    <main>
        <select>
            <option>Facility</option>
            
            <option>Residence</option>
            
            <option>Person</option>
            
            <option>Employee</option>
            
            <option>Vaccine</option>
            
            <option>Infection</option>

            <option>Schedule</option>
        </select>

    </main>

    <script src="scripts.js"></script> <!-- Link to your JavaScript file -->
</body>
</html>
