<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMP353</title>
</head>

<body>
    <header>
        <h1>COMP353 Details</h1>
    </header>

    <main>
        <button onclick="buttonClick(7)">7</button>
        <button onclick="buttonClick(8)">8</button>
        <button onclick="buttonClick(9)">9</button>
        <button onclick="buttonClick(10)">10</button>
        <button onclick="buttonClick(11)">11</button>
        <button onclick="buttonClick(12)">12</button>
        <button onclick="buttonClick(13)">13</button>
        <button onclick="buttonClick(14)">14</button>
        <button onclick="buttonClick(15)">15</button>

        <button onclick="buttonClick(16)">16</button>

        <button onclick="buttonClick(17)">17</button>
        <button onclick="buttonClick(18)">18</button>
        <button onclick="buttonClick(19)">19</button>
        <button onclick="buttonClick(20)">20</button>
        <button onclick="buttonClick(21)">21</button>


        <p><%= data%></p>
        <p>hello</p>


    </main>

    <script src="Get_details.js"></script> <!-- Link to your JavaScript file -->
</body>

</html>